extends layout
include mixins/_hotel
block content
    each hotel in hotelData
        .hotel
            if url.startsWith('/admin')
                a(href=`${hotel._id}/update`)
                    button(class="button_small") Update hotel
                a(href=`${hotel._id}/remove`)
                    button(class="button_small") Remove hotel 
            +hotel(hotel)